.miner-addr p span {
    font-weight: bold;
    font-style: italic;
}

.number-circle {
}

.section .col {
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width:auto;
    margin: 0.4rem 1.25rem;
    padding: 0rem 1.25rem;
}

.section-title
{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
}

.row-cutsom
{
    padding-top: 5px !important;
    padding-bottom: 5px;
}

p
{
    margin-bottom: 0.2rem !important;
}