.jumbotron p span {
    font-weight: bold;
    font-style: italic;
}

.number-circle {
}

.section {
    background-color: #eceff1;
    border-radius: 1em;
    margin: 0.5em;
    padding: 1em;
}

.section-title {
    font-weight: bold;
}

.section .col {
    background-color: rgb(122, 151, 83);
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 1em;
}